html body{
    padding: 0px;
    margin: 0px;
}

h1, h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(229, 229, 229);
}

.wrap{
    width: 800px;
    margin: auto;
}

.header{
    background-image: url(../images/header_text_bg.gif);
    background-size: cover;
    width: 800px;
    height: 200px;
}

.headerLogo{
    width: 250px;
    height: 150px;
    margin: 20px;
    float: left;
}

.headerH1{
    font-size: 30px;
    color: rgb(239, 250, 240);
    padding-top: 30px;
    display: block;
}

.headerText{
    color: rgb(239, 250, 240);
}

.main{
    background-color: rgb(252, 253, 255);
    margin-top: 15px;
    width: 590px;
    height: 560px;
    margin-right: 10px;
    float: left;
}
.text{
    margin: 15px;
}

.headerH21{
    color: rgb(165, 206, 114);
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px 0px 20px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headerH2{
    color: rgb(165, 206, 114);
    font-size: 20px;
    display: block;
    margin: 20px 0px 10px 20px;
}

.hBlack{
    color: black;
}

.newsImage{
    width: 560px;
    margin: auto;
    display: block;
}

.linkM{
    margin: 15px;
    color: rgb(255, 164, 120);
}

.sideBarMenu{
    background-color: rgb(252, 253, 255);
    width: 200px;
    height: 208px;
    display: block;
    margin-top: 15px;
    float: left;
}

.sidebarLink{
    text-decoration: none;
    color: #393636;
    margin: 10px 10px 10px 30px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.sidebar{
    background-color: rgb(252, 253, 255);
    width: 200px;
    height: 337px;
    margin-right: 0px;
    margin-top: 15px;
    float: left;
}

.sponsorLink{
    text-decoration: none;
    color: #393636;
    margin: 10px 10px 10px 30px; 
    display: block;
    font-size: 14px;
}

.smallSponsorLink{
    font-size: 12px;
}

.footer{
    float: left;
    width: 100%;
    margin-top: 5px;
    display: block;
    color: grey;
}

.leftText{
    display: block;
    float: left;
}

.righText{
    display: block;
    float: right;
}

.leftText p{
    margin: 0px;
}

.righText p{
    margin: 0px 10px 10px 0px;
}

.leftText a{
    color: gray;
}

.righText a{
    color: gray;
}